In [23]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import re

In [24]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [25]:
train.shape

(31962, 3)

In [26]:
test.shape

(17197, 2)

In [27]:
train

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [28]:
test

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [29]:
def clean_test(df, text_field):
    df[text_field] = df[text_field].str.lower()
    df[text_field] = df[text_field].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    return df

In [30]:
train_clean = clean_test(train, "tweet")
test_clean = clean_test(test, "tweet")

In [31]:
train_clean

          id  label                                              tweet
0          1      0    when a father is dysfunctional and is so sel...
1          2      0    thanks for lyft credit i cant use cause they...
2          3      0                                bihday your majesty
3          4      0  model   i love u take with u all the time in u...
4          5      0               factsguide society now    motivation
...      ...    ...                                                ...
31957  31958      0                               ate  isz that youuu
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1   sikh temple vandalised in in calgary wso cond...
31961  31962      0                        thank you  for you follow

[31962 rows x 3 columns]

In [32]:
test_clean

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964    white supremacists want everyone to see the ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid  hairflip neverready fo...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

In [33]:
(train['label'] == 0).sum()

29720

In [34]:
(train['label'] == 1).sum()

2242

In [35]:
from sklearn.utils import resample

train_majority = train_clean[train_clean.label == 0]
train_minority = train_clean[train_clean.label == 1]
train_minority_upsampled = resample(train_minority, replace=True, n_samples=len(train_minority),)
train_upsampled = pd.concat([train_minority_upsampled, train_majority])

In [36]:
train_upsampled['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier

In [38]:
pipline_sgd = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('nb', SGDClassifier()),
])

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train_upsampled['tweet'],
    train_upsampled['label'],
    random_state=42
)

In [40]:
model = pipline_sgd.fit(X_train, y_train)
y_predict = model.predict(X_test)

from sklearn.metrics import f1_score
f1_score(y_test, y_predict)

0.5854922279792746

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

accuracy = accuracy_score(y_test, y_predict)
precision = precision_score(y_test, y_predict)
recall = recall_score(y_test, y_predict)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy: 0.9599549493179828
Precision: 0.9300411522633745
Recall: 0.42722117202268434